doctype html
html(data-ng-app='act-one-app')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    base(href='/')

    title= title
    link(rel='stylesheet', href='/styles/style.css')

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/jquery.js")
    script(src="/js/dependencies/bootstrap.js")
    script(src="/js/dependencies/angular.js")
    script(src="/js/dependencies/angular-resource.js")
    script(src="/js/dependencies/angular-route.js")
    script(src="/js/act-one/app.js")
    script(src="/js/act-one/about/about-ctrl.js")
    script(src="/js/act-one/app-config.js")
    script(src="/js/act-one/app-routes.js")
    script(src="/js/act-one/auction/auction-ctrl.js")
    script(src="/js/act-one/check-in/check-in-ctrl.js")
    script(src="/js/act-one/check-out/check-out-ctrl.js")
    script(src="/js/act-one/common/auth/authentication.js")
    script(src="/js/act-one/common/util/convert-to-number-directive.js")
    script(src="/js/act-one/common/util/nav-pills-directive.js")
    script(src="/js/act-one/fundraiser/designers-ctrl.js")
    script(src="/js/act-one/home/home-ctrl.js")
    script(src="/js/act-one/home/login-ctrl.js")
    script(src="/js/act-one/tickets/tickets-ctrl.js")
    // SCRIPTS END

  body
    
    header  
      div.container
        div.row
          div.col-xs-12.col-sm-6
            div.row
              div.col-xs-12.col-sm-6
                img.img-responsive(src='/images/cfac-logo.png', alt='Couture for a Cause')
              div.col-xs-12.col-sm-6
                h4.margin-top-lg Raleigh Convention Center
                h4 7 November 2015 
                h4 6:00PM - 11:00PM

          div.col-xs-12.col-sm-6          
            div.row
              div.col-xs-12
                a.btn.btn-lg.btn-primary(href='/tickets').
                  Purchase Tickets!
                  
        div.row
          div.col-xs-12
            ul.pull-right(data-nav-pills)
              li
                a(href='/') Home
              li
                a(href='/about') About              
              li
                a(href='/tickets') Tickets
              li
                a(href='/auction') Auction
              li
                a(href='/designers') Designers

    section#view-section
      div.container
        div.row
          div.col-xs-12(data-ng-view)

    footer
      div.container
        div.row
          div.col-xs-12
            p.text-center.pad-top-lg.pad-bottom-lg.
              Activate Good | Couture for a Cause
            
