extends layout

block content  
  
  div.row
    div.col-xs-12.pad-top-lg
      p.
        Saturday, November 7th, 6:00PM - 11:00PM

  div.row
    div.col-xs-12.pad-top-lg
      a.center-block.btn.btn-lg.btn-primary(href='/tickets/purchase').
        Purchase Tickets!

  div.row
    div.col-xs-12.pad-top-lg
      p.
        Couture for a Cause is an annual fashion show fundraiser benefiting 
        Activate Good! At Couture for a Cause, we pair local designers with 
        Activate Good’s nonprofit partners to create looks that embody the 
        missions of those organizations.
