doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    
    title= title
    link(rel='stylesheet', href='/styles/style.css')

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/jquery.js")
    script(src="/js/dependencies/bootstrap.js")
    script(src="/js/dependencies/angular.js")
    script(src="/js/dependencies/angular-resource.js")
    script(src="/js/act-one/app.js")
    script(src="/js/act-one/common/convert-to-number-directive.js")
    script(src="/js/act-one/tickets/purchase-ctrl.js")
    // SCRIPTS END

  body
    div.container-fluid

      div.row.no-gutter
        img.col-xs-12(src='/images/cfac-header.jpg', alt='Couture for a Cause')  
        
      block content

      div.row
        div.col-xs-12
          p.text-center.pad-top-lg.pad-bottom-lg.
            Activate Good | Couture for a Cause
            
