p. 
  Couture for a Cause is an annual fundraiser fashion show and auction 
  benefiting Activate Good! At Couture for a Cause, we pair local designers 
  with Activate Good’s nonprofit partners to create looks that embody the 
  missions of those organizations.

h2 About Couture for a Cause

p.
  First hosted in 2009, Couture for a Cause has become Activate Good’s fun and 
  fashionable annual fundraising tradition, filling the house year to year. The 
  event is also a competition for local designers, who compete for a chance to 
  win a prize in Couture and Ready-to-Wear categories. All funds raised benefit 
  Activate Good, a nonprofit that activates volunteers to help charitable causes 
  around the Triangle.

p 
  |Check out 
  |a(href='') pictures from last year’s Couture for a Cause
  |, which attracted more than 500 guests! 

h2 Event Details
p Date: November 7, 2015
p Time: Cocktails and Entertainment start at 7:00 PM
p Location: Raleigh Convention Center in Downtown Raleigh, NC
p Tickets: COMING SOON!

p Follow Couture for a Cause on Social Media for the latest updates! (hashtag #CFAC2015)

p Facebook | Twitter | Instagram
