<div class="row">
  <div class="col-xs-12 pad-top-lg pad-bottom-lg">
    Thanks for your interest in Couture for a Cause!
    Please tell us about yourself:
  </div>
</div>

<form>

  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group">
        <label for='firstName'>First Name</label>
        <input class="form-control" type="text", id='firstName', placeholder='John', data-ng-model='attendee.firstName'/>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group">
        <label for='lastName'>Last Name</label>
        <input class="form-control" type="text", id='lastName', placeholder='Doe', data-ng-model='attendee.lastName'/>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
       <div class="form-group">
         <label for='email'>Email Address</label>
         <input class="form-control" type="email", id='email', placeholder='my@email.com', data-ng-model='attendee.email'/>
       </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group">
        <label for='phone'>Phone Number</label>
        <input class="form-control" type="tel", id='phone', placeholder='555-897-5309', data-ng-model='attendee.phone'/>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="form-group">
        <label for='ticket'>Ticket Type</label>
        <select class="form-control" id='ticket', data-ng-model='attendee.ticket' data-convert-to-number>
          <option value='0'>General Admission ($35)</option>
          <option value='1'>VIP ($75)</option>
        </select>
      </div>
    </div>



  <div class="row" data-ng-if='attendee.guests.length > 0'>
    <div class="col-xs-12">
      <p class="text-center pad-top-lg lead">
        Guests
      </p>
    </div>
  </div>

  <div class="repeated-item" data-ng-repeat="guest in attendee.guests">

    <div class="row" data-ng-if='!$first'>
      <div class="col-xs-12">
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group">
          <label for='guestFirstName{{$index}}'>{{guest.firstName || 'Guest ' + ($index + 1)}}&apos;s First Name</label>
          <input class="form-control" type="text", id='guestFirstName{{$index}}', data-ng-model='guest.firstName'/>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group">
          <label for='guestLastName{{$index}}'>{{guest.firstName || 'Guest ' + ($index + 1)}}&apos;s Last Name</label>
          <input class="form-control" type='text', id='guestFastName{{$index}}', data-ng-model='guest.lastName'/>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group">
          <label for='guestTicket{{$index}}'>{{guest.firstName || 'Guest ' + ($index + 1)}}&apos;s Ticket Type</label>
          <select class="form-control" id='ticket{{$index}}', data-ng-model='guest.ticket', data-convert-to-number />
            <option value='0', selected>General Admission ($35)</option>
            <option value='1'>VIP ($75)</option>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12">
        <button class="center-block btn btn-xs btn-danger" type='button', data-ng-click='removeGuest(guest)'>
          <span class="glyphicon glyphicon-minus"></span>
          Remove {{guest.firstName}}
        </button>
      </div>
    </div>

  </div>

  <div class="row pad-top-lg">
    <div class="col-xs-12">
      <a class="center-block btn btn-inverse" type='button', data-ng-click='addGuest()'>
        <span class="glyphicon glyphicon-plus"></span>
        {{guestButtonText}}
      </a>
    </div>
  </div>

  <div class="row pad-top-lg">
    <div class="col-xs-6">
      <p class="lead">Total:</p>
    </div>

    <div class="col-xs-6">
      <p class="lead pull-right">$75.00</p>
    </div>
  </div>

  <div class="row pad-top-lg">
    <div class="col-xs-12">
      <a class="center-block btn btn-lg btn-primary" type='button', data-ng-click='checkout()'>
        Check
        <span class="glyphicon glyphicon-shopping-cart"></span>
        Out
      </a>
    </div>
  </div>

</form>
