
div.row
  div.col-xs-12.pad-bottom-lg
    h4.
      Thanks for your interest in Couture for a Cause! 
      Please tell us about yourself:

form

  div.row

    div.col-xs-12.col-sm-6.col-md-4
      div.form-group
        label(for='firstName') First Name
        input.form-control(type='text', id='firstName', placeholder='John', data-ng-model='attendee.firstName')

    div.col-xs-12.col-sm-6.col-md-4
      div.form-group
        label(for='lastName') Last Name
        input.form-control(type='text', id='lastName', placeholder='Doe', data-ng-model='attendee.lastName')

    div.col-xs-12.col-sm-6.col-md-4
      div.form-group
        label(for='phone') Phone Number
        input.form-control(type='tel', id='phone', placeholder='555-897-5309', data-ng-model='attendee.phone')

    div.col-xs-12.col-sm-6.col-md-4
      div.form-group
        label(for='ticket') Ticket Type
        select.form-control(id='ticket', data-ng-model='attendee.ticket' data-convert-to-number)
          option(value='0') General Admission ($35)
          option(value='1') VIP ($75)        
    

  div.row(data-ng-if='attendee.guests.length > 0')
    div.col-xs-12
      p.text-center.pad-top-lg.lead.
        Guests

  div.repeated-item(data-ng-repeat='guest in attendee.guests')

    div.row(data-ng-if='!$first')
      div.col-xs-12
        hr

    div.row

      div.col-xs-12.col-sm-6.col-md-4
        div.form-group
          label(for='guestFirstName{{$index}}') {{guest.firstName || 'Guest ' + ($index + 1)}}&apos;s First Name
          input.form-control(type='text', id='guestFirstName{{$index}}', data-ng-model='guest.firstName')

      div.col-xs-12.col-sm-6.col-md-4
        div.form-group
          label(for='guestLastName{{$index}}') {{guest.firstName || 'Guest ' + ($index + 1)}}&apos;s Last Name
          input.form-control(type='text', id='guestFastName{{$index}}', data-ng-model='guest.lastName')

      div.col-xs-12.col-sm-6.col-md-4
        div.form-group
          label(for='guestTicket{{$index}}') {{guest.firstName || 'Guest ' + ($index + 1)}}&apos;s Ticket Type
          select.form-control(id='ticket{{$index}}', data-ng-model='guest.ticket' data-convert-to-number)
            option(value='0', selected) General Admission ($35)
            option(value='1') VIP ($75)
    
    div.row
      div.col-xs-12
        button.center-block.btn.btn-xs.btn-danger(type='button', data-ng-click='removeGuest(guest)')
          span.glyphicon.glyphicon-minus 
          |  Remove {{guest.firstName}}

  div.row.pad-top-lg
    div.col-xs-12
      a.center-block.btn.btn-inverse(type='button', data-ng-click='addGuest()')
        span.glyphicon.glyphicon-plus              
        |  {{guestButtonText}}
        
  div.row.pad-top-lg
    div.col-xs-6
      p.lead Total:
      
    div.col-xs-6
      p.lead.pull-right $75.00
      
  div.row.pad-top-lg
    div.col-xs-12
      a.center-block.btn.btn-lg.btn-primary(type='button', data-ng-click='checkout()')
        | Check 
        span.glyphicon.glyphicon-shopping-cart
        |  Out
